<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DescansaAi</title>
    <link rel="shortcut icon" href="/src/img/sleepy1.svg" type="image/x-icon">
    <link rel="stylesheet" href="/src/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/css/_fix.css">
    <script defer src="https://kit.fontawesome.com/fd7bf5e614.js" crossorigin="anonymous"></script>
    <script defer src="/src/js/bootstrap.min.js"></script>
</head>

<body>
    <!--HEADER-->
    <header class="header" style="overflow: hidden;">
        <div class="coitaner-fluid text-center">
            <div class="row">
                <div class="col-sm-3 d-flex flex-row justify-content-center align-items-center">
                    <img src="/src/img/sleepy1.svg" alt="sleepy logo header" class="w-25">
                    <a href="/index.html"><p style="color: #3684B0;" class="fs-1"><strong>Descansa Ai</strong></p></a>
                </div>
                <div class="col-sm-3 d-flex flex-row justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-sm">
                            <a href="/src/views/acomodacoes.html"><p>Acomodações</p></a>
                        </div>
                        <div class="col-sm">
                            <a href="/src/views/servicos.html"><p>Serviços</p></a>
                        </div>
                        <div class="col-sm">
                            <a href="/src/views/reservas.html"><p>Reservas</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 d-flex flex-row justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-sm d-flex flex-row justify-content-center">
                            <i class="fa-solid fa-image p-1 me-2"></i>
                            <a href="/src/views/galeria.html"></a><p>Galeria</p>
                        </div>
                        <div class="col-sm d-flex flex-row justify-content-center">
                            <i class="fa-solid fa-address-book p-1 me-2"></i>
                            <p>Contato</p>
                        </div>
                        <div class="col-sm d-flex flex-row justify-content-center">
                            <i class="fa-solid fa-message p-1 me-2"></i>
                            <p>FAQs</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex flex-row justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-sm">
                            <i class="fa-regular fa-bell me-5"></i>
                            <i class="fa-solid fa-bars"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--HEADER end-->

    <!-- MAIN -->
    <main class="m-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-column align-items-center">
                    <img src="/src/img/hotel_room1.jpeg" alt="hotel room" class="w-75 rounded">
                    <div class="d-flex flex-row mt-2">
                        <p class="fs-3 me-5">Suíte Luxo Nebulosa</p>
                        <i class="fa-regular fa-star fa-xl mt-3 me-2"></i>
                        <p class="fs-3">4,8</p>
                    </div>
                    <div class="d-flex flex-row mt-2">
                        <img src="/src/img/cifrao_credito.svg" alt="cifrão crédito intergalático" class="mt-3" style="height: 25px;">
                        <p class="fs-1">1000,00</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="fs-1"><strong>Formulário de Reserva</strong></p>
                    <p class="fs-4">Estamos quase lá!</p>
                    <form action="">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputName1">Nome completo</label>
                                <input type="text" class="form-control" id="exampleInputName1"
                                    placeholder="Nome">
                            </div>
                            <label for="exampleInputEmail1">Endereço de Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Seu melhor email">
                            <small id="emailHelp" class="form-text text-muted">Nós nunca compartilharemos seu email com ninguém.</small>
                        </div>
                        <div class="form-group form-check mt-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Aceito os termos e condições.</label>
                        </div>
                        <button type="submit" class="btn mt-3" style="background-color: #3684B0;">Confirmar Reserva</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </main>
    <!-- MAIN end-->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="cointainer-fluid text-white p-5 pb-0 pt-3" style="background-color: #3684B0;">
            <div class="row">
                <div class="col-sm-1">
                    <img src="/src/img/sleepy4.svg" alt="sleepy logo" class="w-100">
                </div>
                <div class="col-md-2">
                    <p><strong>DESCANSA AI</strong></p>
                    <p>O seu site de pousadas intergaláticas</p>
                </div>
                <div class="col-md-2">
                    <ul class="list-unstyled">
                        <li>
                            <p><strong>Início</strong></p>
                        </li>
                        <li>
                            <p><strong>Acomodações</strong></p>
                        </li>
                        <li>
                            <p><strong>Serviços</strong></p>
                        </li>
                        <li>
                            <p><strong>Galeria</strong></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <p><strong>Nos siga nas Redes</strong></p>
                    <!-- Section: Social media -->
                    <section class="mb-4">
                        <!-- Facebook -->
                        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" role="button"
                            data-mdb-ripple-color="dark"><i class="fa-brands fa-facebook-f"></i></a>
                        <!-- Twitter -->
                        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" role="button"
                            data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>
                        <!-- Instagram -->
                        <a data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-body m-1" role="button"
                            data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                        <p><strong>Precisando de ajuda?</strong></p>
                        <p>suporte@descansaai.com</p>
                </div>
                <div class="col-lg-5">
                    <form action="">
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-auto mb-4 mb-md-0">
                                <p>
                                    <strong>Receba novas ofertas!</strong>
                                </p>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-5 col-12 mb-4 mb-md-0">
                                <!-- Email input -->
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="email" id="form5Example22" class="form-control" />
                                    <label class="form-label" for="form5Example22">Seu melhor email</label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-auto mb-4 mb-md-0">
                                <!-- Submit button -->
                                <button data-mdb-ripple-init type="button" class="btn mb-4"
                                    style="background-color: #23668B;">
                                    Cadastrar
                                </button>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </form>
                </div>
            </div>
            <hr style="width: 90%;margin: 0 auto;" class="text-center">
            <div class="text-center p-3">
                <img src="/src/img/khicon.svg" alt="kauehenrick logo" style="width: 40px;margin: .5em;">
                © 2024 Copyright DescansaAi
            </div>
    </footer>
    <!-- FOOTER end -->
</body>

</html>